*{
    margin:0;
    padding:0;
}

body{
    background:url("./warpper.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    font-family: 'ZCOOL XiaoWei', serif;
}

.top{
    overflow:hidden;
    background-color:lightslategray;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
}
.top a{
  float:right;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:16px 20px;
  text-decoration:none;
 }
.top a:hover{
  background-color:#ddd;
  color:black;
}
.toptitle{
    font-size:25px;
    font-weight: 100;
}
.topbiaoti{
    font-size:45px;
    font-weight: bold;
    color:aliceblue;
    padding:1px 80px;
}

.title{
    perspective:400px;
    width:100%;
    height:600px;
    position:relative;
}
.topic{
    position:relative;
    display:flex;
    justify-content: center;
    left:0;
    right:0;
    top:220px;
    margin:auto;
    bottom:0;
    color:#fff;
    font-size:5rem;
    font-weight:650;
    text-align: center;
}

.card{
    background-color:rgba(255,255,255,0.5);
    padding:20px;
    margin:20px;
    border-radius:22px;
}
.biaoti{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.zhengwen{
    font-size: 22px;
    padding: 20px;
    text-align: center;
}

.footer{
    background-color:lightslategray;
    text-align: center;
    margin-top:50px;
}
.shengming{
    font-family: 'Courier New', Courier, monospace;
    font-size:8px;
}